PORT=9000
MONGODB_URI=mongodb+srv://kucoolsh:kushal123@cluster0.ew0u7nx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dxbg1outu
CLOUDINARY_API_KEY=699436826922258
CLOUDINARY_API_SECRET=8cTXklPSjROJaqicilpQ6Ubrjms